.vscode/*
travis/id_rsa
travis/secrets.tar
.idea/*
.DS_Store
.history/*
api/deploy-local.sh
api/yarn-error.log
api/app/data/tmp/*
node_modules/
yarn-error.log
docker/data/
.git-rewrite
storage/*
moedict-data
chinese-dictionary
bible-pinyin
data/redis
.pnpm-store
.netlify